.Card {
  margin-right: 1vh;
  margin-left: 1vh;
  margin-bottom: 3vh;
  height: 100%;
}

.Div {
  max-height: 100%
}

.CardImage {
  height: 40vh;
  object-fit: scale-down;
}

@media (max-width: 992px) {
  .CardImage {
    height: 30vh;
    object-fit: scale-down;
  }
}

@media (max-width: 768px) {
  .CardImage {
    height: 100%;
  }
}