.Container {
    min-height: 70vh;
}


.Image {
    width: 100%;
    height: auto;
}

.H1 {
    font-weight: 800;
    text-align: center;
    animation: 2s anim-lineUp ease-out;
    margin-top: 15vh;
    margin-bottom: 5vh;
}


.lineUp {
    animation: 2s anim-lineUp ease-out forwards;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.P {
    font-weight: 400;
    text-align: center;
    margin-bottom: 5vh;
    animation: 2s anim-lineUp ease-out;
}

.Button {
    font-weight: bold;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 5vh;
    animation: 2s anim-lineUp ease-out;
}

@media (max-width: 767px) {
    .H1 {
        margin-top: auto;
    }
}

@media (max-width: 991px) {
    .H1 {
        margin-top: auto;
        margin-bottom: 2vh;
    }

    .P {
        margin-bottom: 2vh;
    }
}