:root {
  --marquee-width: 100%;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */
  /* defined with JavaScript */
  --marquee-elements-displayed: 4;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.Row {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
}

.Marquee,
.marquee {
  /* background-color: #fff;*/
  color: #414344;
  overflow: hidden;
  position: relative;
  margin-bottom: 2vh;
  /* border-radius: 25px;*/
}

.Marquee:before,
.Marquee:after,
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 5rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.Marquee:before,
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #414344 0%, transparent 100%);
}

.Marquee:after,
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #414344 0%, transparent 100%);
}

.MarqueeContent,
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.Paragraf {
  font-weight: bold;
}

/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}

.MarqueeContent li,
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4);
  /* 5rem; */
  white-space: nowrap;
}

.MarqueeContent li img,
.marquee-content li img {
  /*height: 100%;*/
  border: 2px solid #eee;
}

.TextCol {
  border: #414344 1px solid;
  margin-bottom: 2vh;
  /*border-radius: 25px;*/
}

@media (max-width: 1400px) {
  html {
    font-size: 12px;
  }

  :root {
    --marquee-width: 95vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 5;
  }

  .Marquee:before,
  .Marquee:after,
  .marquee:before,
  .marquee:after {
    width: 2rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }

  :root {
    --marquee-width: 95vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 4;
  }

  .Marquee:before,
  .Marquee:after,
  .marquee:before,
  .marquee:after {
    width: 2rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }

  :root {
    --marquee-width: 95vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 4;
  }

  .Marquee:before,
  .Marquee:after,
  .marquee:before,
  .marquee:after {
    width: 2rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  :root {
    --marquee-width: 95vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }

  .Marquee:before,
  .Marquee:after,
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }

  .TextCol {
    border: none;
    text-align: center;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }

  :root {
    --marquee-width: 95vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 2;
  }

  .Marquee:before,
  .Marquee:after,
  .marquee:before,
  .marquee:after {
    width: 2rem;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 12px;
  }

  :root {
    --marquee-width: 95vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 1;
  }

  .Marquee:before,
  .Marquee:after,
  .marquee:before,
  .marquee:after {
    width: 2rem;
  }
}
