body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Overiding some bootstrap classes as can't be done in module css */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: rgb(5, 5, 7);
  font-weight: bold;
}

.nav-link {
  color: rgb(5, 5, 7);
}

#settings-dropdown::after {
  display: none;
}

input#signInCheckbox.form-check-input:checked,
input#signUpCheckbox.form-check-input:checked {
  background-color: #6c757d;
  border-color: #6c757d;
  box-shadow: none;
}

input#signInCheckbox.form-check-input:focus,
input#signUpCheckbox.form-check-input:focus {
  border-color: #6c757d;
  box-shadow: none;
}

/* Front Page acordeon */
.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:focus {
  background-color: #ffffff;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: #ffffff !important;
  border-bottom: none !important;
  border-left: #6c757d 2px solid;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-item {
  border-left: #6c757d solid 1px !important;
}

.accordion-body {
  border-left: #6c757d 2px solid;
}
