body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: rgb(5, 5, 7);
  font-weight: bold;
}

.nav-link {
  color: rgb(5, 5, 7);
}

#settings-dropdown::after {
  display: none;
}

input#signInCheckbox.form-check-input:checked,
input#signUpCheckbox.form-check-input:checked {
  background-color: #6c757d;
  border-color: #6c757d;
  box-shadow: none;
}

input#signInCheckbox.form-check-input:focus,
input#signUpCheckbox.form-check-input:focus {
  border-color: #6c757d;
  box-shadow: none;
}